<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <div id="header">
        <a id="add-note" title="添加笔记" href="#">添加</a>
        <ul class="user-area">
            <li><a class="login" title="GitHub登录" href="/auth/login">登录</a></li>                
        </ul>
    </div>

    <div id="wall">

    </div>

    <script src="/js/index.js"></script>
</body>

</html>