.note {
    width: 200px;
    min-height: 150px;
    background-color: orange;
    margin: 10px;
    .note-header {
        height: 30px;
        background-color: green;
        padding: 5px;
        .delete-note {
            cursor: pointer;
            color: white;
        }
    }
    .note-ct {
        padding: 20px;
        outline: medium;
    }
}